@font-face {
  font-family: OpenSans;
  src: url(../src/assets/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSansBold;
  src: url(../src/assets/OpenSans-Bold.ttf);
}

@import "tailwindcss";

html {
  background-color: #e6f2ff;
  color: #0066cc;
  display: flex;
  font-family: "OpenSans", sans-serif;
  justify-content: center;
}

h1 {
  font-family: "OpenSansBold", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e3f2fd; /* Fondo */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #80cbc4; /* Barra deslizante */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4db6ac; /* Efecto hover */
}
